;; Copyright © 2020 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:description
 "Track versions and keep your Maven dependencies up to date",
 :categories ["DEPENDENCIES" "SECURITY"],
 :repository
 "https://github.com/atomist-skills/update-maven-dependencies-skill",
 :license "Apache-2.0",
 :resourceProviders
 [{:name "github",
   :description "GitHub",
   :typeName "GitHubAppResourceProvider",
   :minRequired 1,
   :maxAllowed 1}
  {:name "slack",
   :description "Slack",
   :typeName "SlackResourceProvider",
   :minRequired 0,
   :maxAllowed 1}],
 :homepage
 "https://github.com/atomist-skills/update-maven-dependencies-skill",
 :displayName "Update Maven Dependencies",
 :name "update-maven-dependencies",
 :long_description
 "Track all versions of maven pom.xml dependencies and allow users to set\ncross repo targets for dependency versions.\n",
 :title "Update Maven Dependencies",
 :author "Atomist",
 :dispatch "single",
 :commands
 [{:name "ShowMavenDependencies",
   :description "summary of the npm dependencies",
   :pattern "^mvn fingerprints.*$"}
  {:name "UpdateMavenDependency",
   :description "update one dependency",
   :pattern "^mvn update.*$"}
  {:name "SyncMavenDependency",
   :description "sync dependencies for one Repository",
   :pattern "^mvn sync.*$"}],
 :iconUrl
 "https://d1q6f0aelx0por.cloudfront.net/product-logos/b14d466e-356f-4b00-bc4e-af5e8284a1bd-maven.png",
 :runtime
 {:name "nodejs10",
  :entry_point "eventhandler",
  :memory 512,
  :timeout 60},
 :homepageUrl
 "https://github.com/atomist-skills/update-maven-dependencies-skill",
 :parameters
 [{:singleChoice
   {:description
    "Choose a policy for how target dependencies should be discovered by this skill",
    :displayName "Target Policy",
    :name "policy",
    :required true,
    :options
    [{:description "Use the latest semver version",
      :text "Latest semver used",
      :value "latestSemVerUsed"}
     {:description
      "Use the set of maven dependencies configured manually in this Skill",
      :text "Manual",
      :value "manualConfiguration"}]}}
  {:string
   {:description
    "These policies require an application/json encoded array of Strings\n",
    :displayName "Policy Configuration",
    :name "dependencies",
    :lineStyle "multiple",
    :placeHolder
    "[\"group:artifact:version\", ...] or [\"group:artifact\", ...]",
    :required false}}
  {:repoFilter
   {:description "The set of Repositories for this rule.",
    :displayName "Repository Scope",
    :name "scope",
    :required false}}],
 :namespace "atomist",
 :artifacts
 {:gcf
  [{:name "package-cljs-skill",
    :entryPoint "eventhandler",
    :memory 512, 
    :runtime "nodejs10", 
    :timeout 60}]}}
